html {
  position: relative;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  overflow-x: hidden;
  min-width: 320px;
  min-height: 100vh;

  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  font-size: 22px;
  font-weight: 400;

  color: $elem-dark;
  background-color: $elem-white;

  @include responsive(laptop) {
    font-size: 18px;
  }

  @include responsive(tablet) {
    font-size: 16px;
  }

  @include responsive(phone) {
    font-size: 12px;
  }
}

main {
  padding-bottom: 150px;

  @include responsive(laptop) {
    padding-bottom: 100px;
  }

  @include responsive(tablet) {
    padding-bottom: 80px;
  }

  @include responsive(phone) {
    padding-bottom: 50px;
  }
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  max-height: 100%;
}

button {
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset {
  margin: 0;
}

fieldset {
  border: 0;
  padding: 0;
}

address {
  font-style: inherit;
}

iframe {
  border: none;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.container {
  margin: 0 auto;
  max-width: 1770px;
  display: grid;
  padding: 0 75px;
  width: 100%;

  @include responsive(laptop) {
    padding: 0 42px;
  }

  @include responsive(tablet) {
    padding: 0 34px;
  }

  @include responsive(phone) {
    padding: 0 20px;
  }
}

.hidden {
  display: none !important;
}
